{% extends "plantilla_padre.html" %}

{% block titulo %}
    Quienes Somos
{% endblock %}


{% block contenido %}
<section data-bs-version="5.1" class="content5 cid-sX7QxZPp9G" id="content5-1u">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">

                <h4 class="mbr-section-subtitle mbr-fonts-style mb-4 display-1">¿Qué es un museo?</h4>
                <p class="mbr-text mbr-fonts-style display-7">El museo es la institución que muestra objetos del patrimonio de cada localidad, concebidos en un discurso cronológico, didáctico y dialéctico que se presenta al público a través de la exposición permanente, como la forma más importante de las exposiciones museables.</p>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content5 cid-sX7OHemwrK" id="content5-1t">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">

                <h4 class="mbr-section-subtitle mbr-fonts-style mb-4 display-5">
                    Objeto social</h4>
                <p class="mbr-text mbr-fonts-style display-7">Rescatar, conservar, investigar y promover el patrimonio cultural jaruqueño mueble e inmueble.<br><br>La forma y las funciones del museo han variado sensiblemente en el transcurso de los siglos: se han diversificado tanto su contenido como su misión, funcionamiento y administración. El museo es hoy una institución social de fines y alcances definidos, y representa, de forma general o específica, parte de la cultura e idiosincrasia del grupo social donde se ubica; integra las distintas dimensiones del patrimonio desde lo tangible e intangible, lo cultural y natural, así como sirve de base a las políticas y acciones vinculadas con el desarrollo social y educativo de los pueblos.<br><br></p>
            </div>
        </div>
    </div>


{% endblock%}



{% block scripts_extras %}


{% endblock%}