.cid-tf9ibZ7knC .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 370px;
  max-width: 370px;
}
@media (max-width: 768px) {
  .cid-tf9ibZ7knC .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tf9ibZ7knC .embla__button--next,
.cid-tf9ibZ7knC .embla__button--prev {
  display: flex;
}
.cid-tf9ibZ7knC .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .cid-tf9ibZ7knC .embla__button {
    display: none;
  }
}
.cid-tf9ibZ7knC .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tf9ibZ7knC .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-tf9ibZ7knC .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tf9ibZ7knC .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tf9ibZ7knC .embla__button {
    top: auto;
  }
}
.cid-tf9ibZ7knC .embla {
  position: relative;
  width: 100%;
}
.cid-tf9ibZ7knC .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tf9ibZ7knC .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tf9ibZ7knC .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tf9ibZ7knC .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 768px) {
  .cid-tf9ibZ7knC .embla__container {
    margin-left: 1.3rem;
    margin-right: 1.3rem;
  }
  .cid-tf9ibZ7knC .embla__container .embla__slide:first-child {
    margin-left: 2rem !important;
  }
  .cid-tf9ibZ7knC .embla__container .embla__slide:last-child {
    margin-right: 2rem !important;
  }
}

/*-------------------*/

.cid-tf9ibZ7knC .slide-content {
    position: relative;
    border-radius: 4px;
    background: #ffffff;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-flow: column nowrap;
}

.cid-tf9ibZ7knC img, .cid-tf9ibZ7knC .item-img {
    width: 100%;
    height: 100%;
    height: 300px;
    object-fit: cover;
}